*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}
body{
    background: linear-gradient(#d9dcd8d3, #76a3ca);
    min-height: 100vh;
    width: 100%;
    display: flex;
}
.container{
    margin:auto;
    width: auto;
    max-width: 80%;
    height: auto;
    min-height: 60%;
    background:rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
}
body::after{
    content: "";
    width: 80%;
    height:80%;
    background:rgb(22, 38, 109);
    position: absolute;
    right: 0;
    bottom:0;
    z-index:-1;
    clip-path: circle(50% at 100% 80%);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    margin: 50px;
    padding:10px ;
    white-space: initial;
}
nav .logo{
    color:black;
    text-decoration: none;
    font-size: 32px;
    text-transform: uppercase;  
    letter-spacing: 2px;
    font-weight: 700 ;
}
nav ul li{
    display: inline-block;
    margin:0 5px;
    margin-top: 5px;
}
nav ul li a{
    color:black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500 ;
}
nav ul li a:hover{
    color: #555;
}
.contant{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    width: 80%;
    margin:auto;
}
.contant .text{
    color: black;
    width: 40%;
}
.contant .text h3{
    font-size: 40px;
    text-transform:uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.contant .text p{
    margin: 10px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
}
.contant .img {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contant .img img {
    width: 100%;
    height: auto;
    max-width: 450px;
    object-fit: contain;
    transition: 0.3s ease;
}

@media (max-width: 900px) {
    .contant {
        flex-direction: row;
        text-align: center;
    }

    .contant .img {
        width: 100%;
        margin-top: 20px;
    }

    .contant .img img {
        max-width: 80%;
        min-width: 40%;
    }
}


@media(min-width:950px) and (max-width: 1150px){
    body{
        background: rgb(107, 110, 122);
    }
}
@media (max-width: 900px){
    body::after{
        width: 60%;
        height: 60%;
        clip-path: circle(40% at 100% 80%);
    }
}