* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #736ab98d;
    color: #ffffff;
    position: relative;
    overflow-x: hidden;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    z-index: 1000;
    font-size: large;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
}

.links ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    transition: 0.3s;
}

.links a:hover {
    color: #4a3f6f;
    font-weight: bold;
    font-size: large;
}

.menu-icon {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

.big-circle {
    position: fixed;
    right: -250px;
    top: -80px;
    width: 900px;
    height: 900px;
    background: #110937;
    border-radius: 50%;
    z-index: -1;
}

.contant {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 50px;
    position: relative;
    z-index: 10;
}

.text {
    width: 50%;
    background: rgba(18, 44, 95, 0.218);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
}

.text h3 {
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #ffffff;
}

.text p {
    font-size: 16px;
    line-height: 1.6;
}

.img img {
    width: 500px;
     max-width: 100%; 
    border-radius: 50px;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .links ul {
        flex-direction: column;
        background-color: rgba(17,17,17,0.6);
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        text-align: center;
        display: none;
        padding: 20px 0;
    }

    #menu-toggle:checked + .menu-icon + .links ul {
        display: flex;
    }

    .links ul li {
        padding: 10px 0;
    }

    .contant {
        flex-direction: column;
        text-align: center;
        padding: 140px 20px;
    }

    .text, .img {
        width: 100%;
    }

    .big-circle {
        right: 50%;
        left: 50%;
        transform: translateX(-50%);
        top: auto;
        bottom: -400px;
        height: 700px;
        width: 700px;
    }
}