*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:linear-gradient(white,#736ab98d);
    
}
.wrapper{
    width: 500px;
    background-color: transparent;
    border-radius: 40px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.25);
}
h1{
    font-size: 50px;
    height: 10vh;
    text-align: center;
}
h2{
    font-size: 36px;
    text-align: center;
    color: #111;
    height: 10px;
    margin-top: 10px;
}
.wrapper .input-box{
    position: relative;
    width: 90%;
    margin: 25px auto;
}
.input-box input{
    width: 100%;
    padding: 12px 45px 12px 15px;
    background: transparent;
    border: none;
    outline: none;
    border: 3px solid rgb(99, 97, 97);
    border-radius: 40px;
    font-size: 16px;
    color: black;
    
}
.input-box label{
    display: block;
    margin-bottom: 5px;
    padding-left: 10px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: capitalize;
}
.input-box input::placeholder{
    color: rgb(37, 40, 80);
}
.input-box i{
    position: absolute;
    right: 15px;
    top: 38%;
    bottom: 12px;
    font-size: 22px;
}
.btn{
    width: 90%;
    height: 40px;
    background:#2c264f;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow:  0 0 10px black;
    cursor: pointer;
    font-size: 15px;
    color: white;
    font-weight: 800;
    align-self: center;
    position: relative;
    margin-bottom: 20px;
}
.btn:active {
    box-shadow: 0 5px 25px rgba(51, 62, 104, 0.9);
}
.button-container{
    text-align: center;
    margin-top: 20px;
}